export(SAM,
SAMseq,
plot.SAMoutput,
print.SAMoutput,
samr, 
check.format,
       quantitative.func,
       ttest.func,
samr.assess.samplesize,
samr.assess.samplesize.plot,
       samr.compute.delta.table,
       samr.compute.siggenes.table,
       samr.plot,
       samr.missrate,
       samr.norm.data,
       samr.estimate.depth,
samr.pvalues.from.perms,
samr.tail.strength,
       samr.const.quantitative.response,
       samr.const.twoclass.unpaired.response,
       samr.const.survival.response,
       samr.const.multiclass.response,
       samr.const.oneclass.response,
       samr.const.twoclass.paired.response,
       samr.const.twoclass.unpaired.timecourse.response,
       samr.const.twoclass.paired.timecourse.response,
       samr.const.oneclass.timecourse.response,
       samr.const.patterndiscovery.response,
       samr.xl.build.data,
       samr.xl.error.trace,
       samr.xl.compute.plot.xy,
       samr.xl.impute.data,
       samr.xl.parse.survival,
       samr.xl.parse.patterndiscovery)
useDynLib(samr) 
